.btn {
    border-width: 2px;
}

.btn-play-plus {
    background-color: #cccbcb;
    border-color: #cccbcb;
    color: var(--bs-primary);
}

.btn-play-plus:hover {
    color: var(--bs-info);
    border-color: rgb(43, 117, 191);
    box-shadow: 0 0 0 2px #cccbcb;
}

.btn-danger:hover {
    border-color: rgb(232, 220, 220);
    box-shadow: 0 0 0 2px #dc3545;
}

.btn-dark:hover {
    border-color: rgb(173, 173, 173);
    box-shadow: 0 0 0 2px #1c1f23;
}

.btn-primary:hover {
    border-color: rgb(170, 177, 199);
    box-shadow: 0 0 0 2px #0b5ed7;
}

.btn-light:hover {
    border-color:rgb(71, 73, 80);
    box-shadow: 0 0 0 2px #f9fafb;
}
