.cards-img {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.card-one {
    border: 2px solid var(--bs-primary);
    padding: 0.2rem
}

.cards-img:hover {
    transform: translateY(-1rem);
    padding: 0.2rem;
}

.cards-img:active {
    border: 2px solid var(--bs-primary);
}

.cards-console-img img, .console-img-one img {
    width: 60%;
}

.cards-console {
    cursor: pointer;
}

.card-console-one {
    border-bottom: 3px solid var(--bs-primary);
}

.cards-console:hover {
    opacity: 1;
    border-bottom: 3px solid var(--bs-primary);
}

.cards-console:hover .cards-console-img img {
    opacity: 1;
}