.cards-img {
    border-radius: 20px;
    width: 100%;
    margin-bottom: 0.5rem;
}

.card-one {
    border: 2px solid var(--bs-primary);
    padding: 0.2rem
}

.cards-img:hover {
    transform: translateY(-1rem);
    padding: 0.2rem;
}

.cards-img:active {
    border: 2px solid var(--bs-primary);
}

.cards-console {
    cursor: pointer;
}

.cards-console-img img {
    width: 100%;
}

.card-console-one {
    border-bottom: 3px solid var(--bs-primary);
}

.img-opacity {
    opacity: 0.5;
}

.cards-console:hover {
    border-bottom: 3px solid var(--bs-primary);
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .cards-console-img img {
        width: 50%;
    }
}