@import url("variables.css");
@import url("navbar.css");
@import url("buttons.css");
@import url("cards.css");

h2, h3, h4, h5, h6 {
    padding-bottom: 1.5rem;
}

footer li {
    line-height: 2rem;
}

.bg-img {
    background-image: url("../img/jumbo-bg.png");
    min-height: 600px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.section:not(.section-no-p) {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.title .position-relative {
    top: -40px;
}

.console .position-relative {
    top: 35px;
}

.new-gen.position-relative {
    top: 170px;
}

.bg-img.it-takes-two {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.it-takes-two .position-relative {
    top: -60px;
}

.ps-plus-img img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: auto;
    height: 100%;
}

.fa-registered {
    position: relative;
    top: -0.5rem;
}

.fa-copyright {
    width: 1rem;
}