@import url("variables.css");
@import url("navbar.css");
@import url("buttons.css");
@import url("cards.css");

h2, h3, h4, h5, h6 {
    padding-bottom: 1.5rem;
}

.bg-img {
    background-image: url("../img/jumbo-bg.png");
    height: 650px;
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
}

.section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title .position-relative {
    top: -40px;
}

.console .position-relative {
    top: 35px;
}

.new-gen.position-relative {
    top: 170px;
}