:root {
    --bs-body-font-family: Arial, Helvetica, sans-serif;

    --bs-secondary: #1F1F1F;
    --bs-secondary-rgb: 31, 31, 31;

    --bs-light: #bebcbb;
    --bs-light-rgb: 190, 188, 187;

    --bs-success: #161c3b;
    --bs-success-rgb: 22, 28, 59;

    --bs-info: #0070d1;
    --bs-info-rgb: 0, 112, 209;
}